/*  your css code here. If applicable */
h1 {
        color: blue;
        text-align: center;
        margin-bottom: 40px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    form {
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 0px 5px;
    }
    #username, #password{
        width: 195px;
    }
    #existing{
		display: none;
	}